/* PremiumContent.css */
.section-background {
background-image: url(../assets/cover.png); 
 }
  
 .content{
  background-image: url(../assets/bg-home-3.png); 
  background-size: cover;
  background-position: center;
align-items: center;
 }

